body {
    position: relative;
}

.hwp-root {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.5);
}

.hwp-popup {
    margin: auto;
    position: relative;
    /*top: -100px;*/
    padding: 1em;
    background: white;
    z-index: 9999;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.hwp-popup-header {
    margin-bottom: 15px;
    margin-right: 25px;
}

.hwp-popup-header h1 {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
}

.hwp-popup-header p {
    margin: .5em 0;
}

.hwp-close {
    position: absolute;
    top: 1em;
    right: 1em;
}