.hwp-groupAdmin {
    display: flex;
    align-items: flex-end;
}

.hwp-groupList {
    list-style: none;
    display: flex;
}

.hwp-groupList li {
    margin-right: 1em;
}

.hwp-player-table {
    display: flex;
    padding: 1em 0;
}

.hwp-player-table tbody {
    border-left: 2px solid rgba(0,0,0,.2);
}

.hwp-player-table label {
    margin: 0 0 0 .5em;
}

.hwp-player-footer {
    text-align: right;
}